<!-- Sección de habilidades -->
<div class="row mb-4 justify-content-md-center rounded-5 habilidades">
    <!-- Atajo: div.col.col-3.bg-white*2 -->
    <div class="col-12 col-md-3 mb-3 mb-md-0 p-2 bg-white habilidad">
        <i class="bi-hdd-fill"></i>
        <h4 class="fw-bold">Backend</h4>
        <p>
            Colocando en producción con mejoras continuas.
        </p>
        <p class="fw-bold">
            Stack:
        </p>
        <p>
            ASP.NET Core, SQL Server
        </p>
        <p class="fw-bold">
            Experiencia:
        </p>
        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>SQL Server</li>
        </ul>
    </div>
    <div class="col-12 col-md-3 mb-3 mb-md-0 p-2 bg-white habilidad">
        <i class="bi-code-slash"></i>
        <h4 class="fw-bold">Frontend</h4>
        <p>
            Centrado en la experiencia del usuario y los requerimientos del negocio.
        </p>
        <p class="fw-bold">
            Stack:
        </p>
        <p>
            Razor, Blazor, React y Angular.
        </p>
        <p class="fw-bold">
            Experiencia:
        </p>
        <ul>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>React Hooks</li>
            <li>Android</li>
            <li>Angular Material</li>

        </ul>

    </div>
</div>
