<!-- Sección sobre mí -->
<section class="py-2 container-fluid bg-dark text-white rounded-4" id="sobre-mi">
    <div class="container">
        <h3 class="fw-bold mb-3">Sobre mí</h3>
        <p class="lead">
            Soy un <strong>desarrollador especializado en ASP.Net Core</strong>
            con pasión por crear aplicaciones web modernas, seguras y escalables.
            Me encanta combinar <em>back-end sólido</em> con <em>interfaces limipias y funcionales</em>
            usando tecnologías como <strong>Bootstrap</strong>, <strong>Javascript</strong> y <strong>Entity Framework</strong>.
        </p>
        <p class="lead">
            Tengo experiencia construyendo APIs, sistemas empresariales y portafolios
            personales donde la calidad del código y la experiencia del usuario son mi prioridad.
            Siempre busco compartir mi conocimiento con la comunidad.
        </p>
    </div>
</section>

