<!-- Seccion de tecnologías principales -->
<hr />
<div class="w-75 m-auto row align-items-center g-2">
    <div class="col-sm-3 border-0">
        <!-- class=col-3, class=col -->
        <img class="img-fluid" src="~/imagenes/csharp.png" alt="csharp" />
    </div>
    <div class="col-sm-3 border-0 ">
        <img class="img-fluid" src="~/imagenes/dotnet.svg" width="180" alt="dotnet" />
    </div>
    <div class="col-sm-3 border-0">
        <img class="img-fluid" src="~/imagenes/ent-frame.png" alt="entity" />
    </div>
    <div class="col-sm-3 border-0">
        <img class="img-fluid" src="~/imagenes/bootstrap.png" width="180" alt="bootstrap" />
    </div>
</div>
