@{
	ViewData["Title"] = "Gracias";
}

<h2>Gracias por ponerte en contacto conmigo</h2>
<p>Contestaré tu mensaje lo más pronto posible.a</p>

<div>
	<a asp-action="Index" asp-controller="Home">Volver al Inicio</a>
</div>