
@model GuidViewModel

<h2>Usando un servicio transitorio, uno delimitado y uno único.</h2>
<div class="container mt-4">

	<h5 class="text-success p-2">
		<strong>Guid transitorio: </strong> @Model.GuidTransitorio
	</h5>

	<h5 class="text-primary p-2">
		<strong>Guid delimitado: </strong> @Model.GuidDelimitado
	</h5>

	<h5 class="text-danger-emphasis p-2">
		<strong>Guid único: </strong> @Model.GuidUnico
	</h5>


</div>