
@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    
    <partial name="_Presentacion" />
    
    <partial name="_Proyectos" />
    
    <partial name="_SobreMi" />
    
    <partial name="_Habilidades" />
    
    <partial name="_Tecnologias" />

</div>


